In [7]:
import numpy as np
import pandas as pd

data = np.array([[400, 350, 450, 500],
                 [0, 150, 300, 300],
                 [30, 180, 100, 200],
                 [430, 680, 850, 1000]])
idx = ['Banana', 'Orange', 'Plum', 'Total']
col = ['Long', 'Sweet', 'Yellow', 'Total']

fruits = pd.DataFrame(data, columns=col, index=idx)
fruits

        Long  Sweet  Yellow  Total
Banana   400    350     450    500
Orange     0    150     300    300
Plum      30    180     100    200
Total    430    680     850   1000

In [9]:
result = {}

for i in range (fruits.values.shape[0]-1):
    p = 1
    for j in range (fruits.values.shape[1]-1):
        p *= fruits.values[i,j]/fruits.values[i,-1]
    p *= fruits.values[i,-1]/fruits.values[-1,-1]
    result[fruits.index[i]]=p
    
result

{'Banana': 0.252, 'Orange': 0.0, 'Plum': 0.013500000000000002}

In [11]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [13]:
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_iris
iris_dataset =load_iris()

x_train, x_test, y_train, y_test = train_test_split(iris_dataset.data[:,2:4], 
                                                    iris_dataset['target'],
                                                   random_state=0)
print(f'X_train shape: {x_train.shape}, y_train shape: {y_train.shape},\n'
      f'X_test shape: {x_test.shape}, y_test shape: {y_test.shape}')

X_train shape: (112, 2), y_train shape: (112,),
X_test shape: (38, 2), y_test shape: (38,)

In [15]:
nb_model = nb.fit(x_train, y_train)

In [17]:
nb_predictions = nb.predict(x_test)
nb_predictions

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2])

In [20]:
#sklearn.metrics import accuracy_score
accuracy = nb.score(x_test, y_test)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9736842105263158